* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --body-bg-color: #664f24;
    --main-bg-color: #c7a86f;
    --header-bg-color: #fde990;
    --sidebar-bg-color: #e7ca93;
    --card-bg-color: #fffcb1;
    --card-edge-color: #745131;
    --btn-bg-color: #492e10;
    --btn-fg-color: #fff2cd;
    --font-color: #1d0e00;
}

.dark-mode {
    --body-bg-color: #06001a;
    --main-bg-color: #35475f;
    --header-bg-color: #161b36;
    --sidebar-bg-color: #0b1026;
    --card-bg-color: #242b4b;
    --card-edge-color: #100731;
    --btn-bg-color: #9aa9ff;
    --btn-fg-color: #11002c;
    --font-color: #00ffbf;
}

body {
    background-color: var(--body-bg-color);
}

h3 {
    margin-bottom: 8px;
}

h4 {
    margin-bottom: 6px;
}

.main-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: 150px 1fr;
    color: var(--font-color);
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 300px;
    align-items: center;
    align-content: center;
    background-color: var(--header-bg-color);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.search,
.info-bar,
.btn-bar,
.greeting-bar {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
}

.btn-bar {
    justify-content: flex-end;
}

.info-bar {
    justify-content: space-around;
    font-weight: 700;
    margin-left: 30px;
}

.fa-bell,
.fa-bell-slash {
    font-size: 1.2rem;
}

.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-fg-color);
    width: 90px;
    height: 40px;
    padding: 6px;
    font-size: 1.1rem;
    border-radius: 20px;
    margin-left: 10px;
}

#search-bar {
    width: 90%;
    height: 24px;
    border-radius: 12px;
    margin-left: 5px;
}

.greeting-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.greeting-container {
    display: flex;
    align-items: center;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main-content-container {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 20px;
    padding: 30px 20px;
    background-color: var(--main-bg-color);
}

.project-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 205px;
    gap: 20px;
}

.announcements-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-bottom: 20px;
}

hr {
    margin: 6px 0;
}

.trending-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending-card {
    margin: 10px 0px;
}

.user-name {
    font-weight: 700;
}

.announcement-cards,
.trending-cards,
.project-card {
    box-shadow: 3px 3px 7px 0 var(--font-color);
}

.announcement-cards,
.trending-cards {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    padding: 15px;
}

.project-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, var(--card-edge-color) 8px, var(--card-bg-color) 6px, var(--card-bg-color));
    border-radius: 8px;
    padding: 15px;
}

.project-icon-bar {
    text-align: right;
    margin-top: auto;
}

.fa-cubes {
    margin: 0 15px;
    font-size: 2rem;
  }

.nav-links {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    color: var(--font-color)
}

.nav-link {
    text-decoration: none;
    display: flex;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

a {
    color: var(--font-color)
}

a span {
    margin-left: 20px;
}

.mode-btn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;
    background-color: var(--btn-bg-color);
    color: var(--btn-fg-color);
    font-size: 1.3rem;
    align-self: center;
}

.mode-icon {
    margin-right: 8px;
}

.dashboard-container {
    display: inline-flex;
    align-items: center;
    margin: 15px 0 50px 15px;
    font-size: 1.5rem;
}

.settings {
    margin-top: 40px;
}

.search {
    font-size: 1.1rem;
}

.notification-icon-on {
    src: url("../images/icons/notifications-active-svgrepo-com.svg");
}

.notification-icon-off {
    src: url("../images/icons/notification-off-svgrepo-com.svg");
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.info-logo {
    height: 50px;
    width: 50px;
}

.greeting-logo {
    height: 64px;
    width: 64px;
}

.trending-card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
